.booksArea {
    padding: 10px;
    gap: 15px;
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.formattingDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bookSquare {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: none;
    width: 200px;
    height: 260px;
    color: var(--text-h);
    box-sizing: border-box;
    transition: box-shadow 1s ease;
    border-radius: 15px;
}

.bookSquare img {
    border-radius: 15px;
    align-self: center;
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.bookName {
    padding-top: 10px;
}

.bookSearch {
    padding: 10px 10px;
    width: calc(100% - 70px);
    max-width: 500px;
}

.descriptionSpan {
    margin: 10px 15px;
    text-align: left;
    color: var(--text-h);
}

.favouriteArea {
    margin-top: 10px;
}

.sectionLine {
    width: 100%;
    margin: 10px 0px;
    border-bottom: solid 1px var(--border);
}

.favouriteButton {
    position: absolute;
    translate: 500% 20%;

    border: none;
    background: none;
    color: var(--accent);

    scale: 1.5;
    transition: transform 1s ease,
    text-shadow 1s ease;
    
}

.favouriteButton:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 8px var(--accent);
    box-shadow: none;
}

@media (max-width: 450px) {
    .bookSquare {
        width: 150px;
        height: 210px;
    }
    .bookSquare img {
        height: 150px;
        width: 150px;
    }
    .booksArea {
        padding: 10px;
        gap: 15px;
        display: grid;
        
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .favouriteButton {
        translate: 350% 20%;
    }
}

.rectTTT {
    position: fixed;
    width: 50%;
    height: 100%;
    background: green;
}

/* Imported from uiverse below */

/* From Uiverse.io by barisdogansutcu */ 
.svgLoading {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}
   
.circleLoading {
    fill: none;
    stroke: var(--accent);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
100% {
    transform: rotate(360deg);
}
}

@keyframes dash4 {
0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
}

50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
}

100% {
    stroke-dashoffset: -125px;
}
}

/* The loading text that has the  */
/* From Uiverse.io by neerajbaniwal */ 
.btn-shine {
    color: var(--accent);
    background: linear-gradient(to right, var(--text-h) 45%, var(--accent) 50%, var(--text-h) 55%);
    background-size: 200% auto;
    background-position: 200% center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
}

@keyframes shine {
    0% {
        background-position: 100% center;
    }
    100% {
        background-position: 0% center;
    }
}