
.chapterSelectRow {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.nextChapter {
    margin: 0px 15px;
    min-width: 20px;
}

.noNextChapter {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background: var(--accent-bg);
    border: 1px solid var(--anti);
    border-radius: 15px;
    margin: 0px 15px;
    min-width: 20px;
}