
.chapterSelectRow {
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.nextChapter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    line-height: 0;
    padding-bottom: 4px;

    height: 36px;
    min-width: 40px;
}

.noNextChapter {
    background: var(--accent-bg);
    border: 1px solid var(--anti);
    border-radius: 15px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    
    line-height: 0;
    padding-bottom: 4px;

    height: 36px;
    min-width: 40px;

}

.chapterTitle {
    padding: 0;
    border: none;

    padding: 0px 12px;

}