

.commentSectionBox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: auto;
    margin-bottom: 100px;
    background: var(--box-bg);
    border: var(--box-border);
    border-radius: 15px;
    
    padding-top: 15px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.commentSectionHeader {
    border-bottom: var(--box-border);
    padding-bottom: 15px;
}

.commentSection {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.comment:not(:last-of-type) {
    border-bottom: var(--box-border);
}


.commentBar {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: var(--box-border);
}

.commentDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.commentUsername {
    color: var(--accent);
}

.commentDate {
    margin-left: auto;
    padding: 0px 5px;
}

.commentButton {
    width: fit-content;
    padding: 5px;
}

.commentButton:hover {
    box-shadow: 0px 0px 12px 0px var(--grey);
}

.addCommentInput {
    text-align: left;
    padding: 10px 15px;
    margin: 0px 15px;
}

.loginToLeaveCommentRow {
    display: flex;
    flex-direction: row;
}

.loginToLeaveComment {
    padding: 0px 5px;
    margin-left: 15px;
    position: absolute;
}

.commentEditButton {
    width: fit-content;
    padding: 5px;
}

.commentEditButton:hover {
    box-shadow: 0px 0px 12px 0px var(--grey);
}

.commentDeleteButton {
    width: fit-content;
    padding: 5px;
}

.commentDeleteButton:hover {
    box-shadow: 0px 0px 12px 0px var(--red);
}

.commentActions {
    display: flex;
    padding: 0px 15px;
    padding-top: 15px;
    margin-top: 10px;
    gap: 10px;
}

.saveEditButton {
    padding: 5px;
}

.saveEditButton:hover {
    box-shadow: 0px 0px 12px 0px var(--green);
}

.cancelEditButton {
    padding: 5px;
}

.cancelEditButton:hover {
    box-shadow: 0px 0px 12px 0px var(--red);
}

.greyButton {
    border-radius: 12px;
    background: var(--bg);
    border: var(--box-border);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    width: fit-content;
    padding: 8px;
    cursor: pointer;
}

.greenHover:hover {
    box-shadow: 0px 0px 12px 0px var(--green);
}

.redHover:hover {
    box-shadow: 0px 0px 12px 0px var(--red);
}

.cantPress:hover {
    box-shadow: none;
}