.commentSectionBox {
    display: flex;
    flex-direction: column;
    width: calc(100% - 30px);
    margin: auto;
    margin-bottom: 100px;
    background: var(--box-bg);
    border: var(--box-border);
    border-radius: 15px;
    
    padding-top: 15px;
    box-sizing: border-box;
}

.commentSectionHeader {
    border-bottom: var(--box-border);
    padding-bottom: 15px;
}

.commentSection {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 20px;
}

.comment {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    
}

.comment:not(:last-of-type) {
    border-bottom: var(--box-border);
}

.commentDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px 20px;
    margin-bottom: 5px;
}

.commentUsername {
    color: var(--accent);
}

.commentDate {
    margin-left: auto;
    padding: 5px;
}

.commentButton {
    margin-left: auto;
    padding: 5px;
}

.addCommentInput {
    text-align: left;
    padding: 10px 15px;
    margin: 0px 15px;
}

.loginToLeaveCommentRow {
    display: flex;
    flex-direction: row;
}

.loginToLeaveComment {
    padding: 0px 5px;
    margin-left: 15px;
    position: absolute;
}

.commentEditButton {
    padding: 5px;
}

.commentDeleteButton {
    padding: 5px;
}

.commentDeleteButton:hover {
    box-shadow: 0px 0px 12px 0px var(--red);
}

.commentEditActions {
    display: flex;
    align-self: center;
    gap: 10px;
}

.saveEditButton {
    margin-top: 10px;
    padding: 5px;
}

.cancelEditButton {
    margin-top: 10px;
    padding: 5px;
}

.cancelEditButton:hover {
    box-shadow: 0px 0px 12px 0px var(--red);
}